{%extends "base.html"%}

{%block main_block%}

<div class="container">
   
   <div class="row">
    <!--clo 1-->
    <div class="col-4">

       <h3 class="mt-5 text-center">filter by date</h3>
        <form action="" method="post" >
          {%csrf_token%}
          {{form}}

          <button type="submit"> fetch</button>
        </form>
       

    </div>
    <!--col 2-->
    <div class="col-4">
        <h1 class="text-center mt-3">dashboard</h1>
        <div class="my-3 d-flex justify-content-around">
            <div>
                total expense:{{expense.total}}
            </div>
            <div>
                total income:{{income.total}}
            </div>
        </div>
        <canvas id="mychart"></canvas>
    </div>
   <!--col 3--> 
    <div class="col-4">
      {{monthly_expenses}}
      {{monthly_income}}
      <canvas id="summarychart"></canvas>
    </div>
   </div>

   
</div>

{%endblock%}

{%block script_block%}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('mychart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["income","expense" ],
      datasets: [{
        label: '# of Votes',
        data: [{{income.total}},{{expense.total}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctx1 = document.getElementById('summarychart');

  new Chart(ctx1, {
    type: 'pie',
    data: {
      labels: ["income","expense" ],
      datasets: [{
        label: '# of Votes',
        data: [{{income.total}},{{expense.total}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  </script>

{%endblock%}