{%extends "base.html"%}

{%block main_block%}

    <div class="container d-flex justify-content-center ">

        <div class="card w-50 mt-5 " style="width: 18rem;">
        <div class="card-header">
          {{data.title|upper}}      
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{data.amount}}</li>
          <li class="list-group-item">{{data.category}}</li>
          <li class="list-group-item">{{data.owner}}</li>
          <li class="list-group-item">{{data.created_date|date:"DdMY"}}</li>
        </ul>
        </div>
    

    </div>


{%endblock%}